<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of itens | async">
      <ion-label>Filme: </ion-label>
      <ion-label>{{item.nome}}</ion-label>
      <ion-label>Genero: </ion-label>
      <ion-label>{{item.genero}}</ion-label>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/home">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
