<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formHome">
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input formControlName="nome"></ion-input>
      <ion-note
        *ngIf="formHome.get('nome').dirty && formHome.get('nome').hasError('required')"
        color="danger"
        slot="end"
      >
        Campo Obrigatório!
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Genero:</ion-label>
      <ion-input formControlName="genero"></ion-input>
      <ion-note
    *ngIf="genero.dirty && genero.hasError('required')"
        color="danger"
        slot="end"
      >
        Campo Obrigatório!
      </ion-note>
    </ion-item>

  </form>
  <ion-button expand="block" (click)="salvar()" color="tertiary" [disabled]="!formHome.valid">
    Salvar
  </ion-button>
</ion-content>
